.home-container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  padding: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar button {
  padding: 10px;
  background-color: #ccff99;
  border: none;
  cursor: pointer;
}

.main-content {
  flex: 1;
  text-align: center;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-section {
  padding: 10px;
}

.logo {
  max-width: 150px;
  height: auto;
}
